body {
    margin: 0;
    font-family: 'Lato',
        sans-serif;
}

.divHeader {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: #444;
    z-index: 10;
}

.divHeader span {
    position: relative;
}

.logoName {
    font-size: 36px;
    color: white;
    font-style: italic;
    padding: 10px;
    margin-top: 27px;
    padding-left: 25px;
    position: relative;
    top: 24px;
}

.rightElement {
    font-size: 30px;
    color: white;
    float: right;
    margin-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 25px;
    cursor: pointer;
}

.divData {
    margin-left: 30px;
    position: relative;
    top: 125px;
}

.divCard {
    width: 270px;
    box-shadow: 0px 0px 4px 1px black;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;

}

.divCard:not(:first-child) {
    margin-left: 25px;
}

/*nth-child*/

.divCardText {
    padding: 10px;
}

.divCardImage {
    width: 270px;
    height: 270px;
}